<div class="container">
  <input class="input-todo" type="text" [(ngModel)]="todo" />
  <button class="btn-todo" (click)="addTodo()">Añadir tarea</button>
  <div class="container-todo">
    <h3 class="todo-title" *ngIf="todos.length > 0; else noTareas">Mis
      tareas</h3>
    <ng-template #noTareas>
      <h3 class="todo-title">No hay tareas</h3>
    </ng-template>
    <div class="tarea" *ngFor="let todo of todos; let i = index"><div class="todo">{{todo}}</div><button (click)="eliminar(i)">Eliminar</button></div>
  </div>
</div>